<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="/public/css/assignment_landing.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
</head>

<body>

    <h1>Assignment</h1>
    <h2>Teacher name: </h2>
    <h2>Subject name: </h2>
    <h2>Description: </h2>
    <h2>Assignment Status: </h2>
    <h2>Deadline</h2>
    <label for="upload">Upload your assignment here: </label> <br>
    <form class="formS" action="#" method="post">
        <input type="file" name="upload" placeholder="upload here">
        <input type="submit" name="">
    </form>
</body>

</html>