<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="/css/assignment_landing.css">
</head>

<body>

    <h1>Assignment</h1>
    <h2>Subject name: <%=course_title%></h2>
    <h2>Description: <%=assignment_description%></h2>
    <h2>Assignment Status: <%=status%></h2>
    <h2>Deadline : <%=deadline%></h2>
    <label for="upload">Upload your assignment here: </label><br>
    <form class="formS" action="#" method="post">
        <input type="file" name="upload" placeholder="upload here">
        <input type="submit" name="">
    </form>
</body>

</html>