<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
</head>

<body>
    <div class="title">
    </div>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <form class="box" action="/check" method="post">
                <h1>Student Login</h1>
                <input type="text" name="username" placeholder="Rollnumber or Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="" value="Login">
                <a href="#">Forgot password?</a> <br>
                <a href="/templates/signup.html">Register</a>
            </form>
        </div>
    </div>
</body>

</html>