<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="/public/css/signup.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
</head>

<body>
    <div class="title">
    </div>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <form class="box" action="/check" method="post">
                <h1>Register here</h1>
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="rollnumber" placeholder="Rollnumber">
                <input type="text" name="admissionNumber" placeholder="Admission number">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="" value="Signup">
            </form>
        </div>
    </div>
</body>

</html>